
:host ::ng-deep{
    .igx-radio{
        &__label{
            font-size:25px;
        }
    }

    .igx-card{
        width: 22%;
        margin:auto
    }
}

igx-radio + igx-radio {
    margin-top: 30px;
}
igx-input-group + igx-input-group {
    margin-top: 14px;
} 
