<div style="width: 450px; margin: auto">
    <igx-select #select type="box" (onSelection)="createComponent($event.newSelection.value)">
        <label igxLabel>Type Select</label>
        <igx-select-item *ngFor="let grid of gridTypes" [value]="grid">
          {{grid.name}}
        </igx-select-item>
      </igx-select>
</div>
<div class="wrapper" style="margin: auto">
  <igx-card *ngIf = "gridObject && gridObject['name'].includes('Grid')">
    <igx-card-header>
      <h3 class="igx-card-header__title">IgxGrid</h3>
    </igx-card-header>
    <igx-card-content>
      <h4>IgxGrid Features</h4>
      <br>
      <igx-combo #combo [data]="gridFeatures" width="200px" [valueKey]="'value'" [displayKey]="'name'" (onClosed)="check(combo.selectedItems())">
        <!-- <span igxComboItem (change)="check($event, feature)" *ngFor="let feature of gridFeatures" [(ngModel)]="feature.value">
          {{feature.name}}
        </span>   -->
      </igx-combo>
      <br>
      <h4>Grid Dimensions</h4>
      <igx-input-group #igroup1 style="width:70px">
        <label igxLabel for="widthInput" [textContent]="'Width'"></label>
        <input #input igxInput id="widthInput" igxInput type="text" [(ngModel)]="width">
        <igx-suffix style="font-size: 18px">
          {{widthResponsive? '%' : 'px'}}
        </igx-suffix>
      </igx-input-group>
      <igx-switch #widthSwitch [checked]="true" [(ngModel)]="widthResponsive">
        {{widthSwitch.checked? 'Responsive' : 'Static'}} Width ({{widthSwitch.checked? '%' : 'px'}})</igx-switch>
      <igx-input-group #igroup style="width:70px">
        <label igxLabel for="heightInput" [textContent]="'Height'"></label>
        <input id="heightInput" igxInput type="text" [(ngModel)]="height">
        <igx-suffix style="font-size: 18px">
          {{heightResponsive? '%' : 'px'}}
        </igx-suffix>
      </igx-input-group>
      <igx-switch #heightSwitch [checked]="false" [(ngModel)]="heightResponsive">
        {{heightSwitch.checked? 'Responsive' : 'Static'}} Height ({{heightSwitch.checked? '%' : 'px'}})</igx-switch>
      <br>
      <!-- <igx-radio [checked]="true" [value]="true" labelPosition="after" [(ngModel)]="gridObject['inputs']['autoGenerate']">
        Auto Generate Columns
      </igx-radio> -->
    </igx-card-content>
    <igx-card-actions>
      <button igxButton="flat" igxRipple (click)="saveComponent(); combo.deselectAllItems(); select.value = ''">
        Save
      </button>
      <button igxButton="flat" [disabled]="!project" igxRipple (click)="openStackBlitz();  select.value = ''">
        Open
      </button>
    </igx-card-actions>
  </igx-card>

  <igx-card *ngIf="gridObject && gridObject['name'].includes('Combo')">
    <igx-card-header>
      <h3 class="igx-card-header__title">IgxCombo</h3>
    </igx-card-header>
    <div style ="display: grid; margin: 10px">
        <igx-select (onSelection)="addPropValue( $event.newSelection.value, 'valueKey')">
            <label igxLabel>SELECT VALUE KEY </label>
            <igx-select-item [value]="type"  *ngFor="let type of dataObjKeys">
                {{type}}
              </igx-select-item>
        </igx-select>
        <br/>  
      <igx-select (onSelection)="addPropValue( $event.newSelection.value, 'displayKey')">
        <label igxLabel>SELECT DISPLAY KEY </label>
        <igx-select-item *ngFor="let type of dataObjKeys" [value]="type">
            {{type}}
          </igx-select-item>
    </igx-select>
  </div> 

    <igx-card-content>
      <h4>Features</h4>
      <div class="checkbox-wrapper">
        <div  *ngFor="let feature of comboFeatures">
        <igx-checkbox #checkbox (change)="check($event, feature)">
          {{ feature.name }}
        </igx-checkbox>
        <igx-select *ngIf="feature.prop.type && checkbox.checked" (onSelection)="addPropValue($event.newSelection.value, feature.prop.name)">
            <label igxLabel>{{feature.prop.type | uppercase}} SELECT </label>
            <igx-select-item *ngFor="let type of dataObjKeys" [value]="type">
                {{type}}
              </igx-select-item>
        </igx-select>
      </div>
      </div>
      <h4>Combo Dimensions</h4>
      <igx-input-group #igroup1 style="width:70px">
        <label igxLabel for="widthInput" [textContent]="'Width'"></label>
        <input #input igxInput id="widthInput" igxInput type="text" [(ngModel)]="width">
        <igx-suffix style="font-size: 18px">
          {{widthResponsive? '%' : 'px'}}
        </igx-suffix>
      </igx-input-group>
      <igx-switch #widthSwitch [checked]="true" [(ngModel)]="widthResponsive">
        {{widthSwitch.checked? 'Responsive' : 'Static'}} Width ({{widthSwitch.checked? '%' : 'px'}})</igx-switch>
      <igx-input-group #igroup style="width:70px">
        <label igxLabel for="heightInput" [textContent]="'Height'"></label>
        <input id="heightInput" igxInput type="text" [(ngModel)]="height">
        <igx-suffix style="font-size: 18px">
          {{heightResponsive? '%' : 'px'}}
        </igx-suffix>
      </igx-input-group>
      <igx-switch #heightSwitch [checked]="false" [(ngModel)]="heightResponsive">
        {{heightSwitch.checked? 'Responsive' : 'Static'}} Height ({{heightSwitch.checked? '%' : 'px'}})</igx-switch>
      <br>
    </igx-card-content>
    <igx-card-actions>
      <button igxButton="flat" igxRipple (click)="saveComponent();">
        Save
      </button>
      <button igxButton="flat" [disabled]="!project" igxRipple (click)="openStackBlitz();  select.value = ''">
        Open
      </button>
    </igx-card-actions>
  </igx-card>
</div>